<a href="https://colab.research.google.com/github/jdmonmou/W207-project/blob/master/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Injection Detection Challenge

Step 1: Load the data

In [104]:
!pip install wget
import pandas as pd
import msgpack
import requests
import wget
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.decomposition import PCA

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9681 sha256=01c72227b9ca39647c7b014ed0ea454305fbe1fbf49ad729d08448ce474d648a
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [105]:
#store paths to data
train_msgpack_url = "https://github.com/jdmonmou/W207-project/blob/master/train.msgpack?raw=true"
test_msgpack_url = "https://github.com/jdmonmou/W207-project/blob/master/test.msgpack?raw=true"
train_infocsv_url = "https://raw.githubusercontent.com/jdmonmou/W207-project/master/train_info.csv"

info = pd.read_csv(train_infocsv_url)
info.head()

      id  injection
0  14577      False
1  60186       True
2  58459       True
3  87091       True
4  44461      False

In [96]:
info.injection.value_counts()
#total size is 65,854
#almost even split between true and false classes

False    33499
True     32355
Name: injection, dtype: int64

In [117]:
!wget https://github.com/jdmonmou/W207-project/blob/master/train.msgpack?raw=true
train = msgpack.unpack(train.msgpack)
'''
r = wget.download(test_msgpack_url)
f = open(r, "r+")
test = msgpack.unpack(f)


train = pd.DataFrame(train)
test = pd.DataFrame(test)
train.columns = ["id","text"]
test.columns = ["id","text"]
'''

--2019-11-22 21:15:06--  https://github.com/jdmonmou/W207-project/blob/master/train.msgpack?raw=true
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/jdmonmou/W207-project/raw/master/train.msgpack [following]
--2019-11-22 21:15:06--  https://github.com/jdmonmou/W207-project/raw/master/train.msgpack
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/jdmonmou/W207-project/master/train.msgpack [following]
--2019-11-22 21:15:06--  https://raw.githubusercontent.com/jdmonmou/W207-project/master/train.msgpack
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11990818 (11M) [application/octet-stream]
Saving to: ‘train.msgpack?raw=true.2’

train.msgpack?raw=t 100%[===================>]  11.43M  --.-KB/s    in 0.1s

2019-11-22 21:15:06 (100 MB/s) - ‘train.msgpack?raw=true.2’ saved [11990818/11990818]

AttributeError: ignored

In [0]:
train.head(10).values

array([[59290,
        b"' and/**/38>( select\t(622)/**/from/*362 emhgpv gpnqdn odpxkn qgnoyb */htipaw)"],
       [54992,
        b'shqpkt" union /*!426 all\t*/(select kwicwt(\t(\tyaaoda\t()), (236), (konjlq()),  619, nyknas ()), byamlo (), \txfsesf( (\tdqoyrp()), (sbecbl()), (\tlhnjpg()), (kkicjp()), (udkygv()), hoewxv\t()))'],
       [64287,
        b'nhnqag" uniondistinct--154 298 plhlre exaloq unyote \r(select (rpfeir#15 256 15 rttlat 66 gsjxjq 44 819 \r()), kuoopt(), (#\rvxhuha), (116), (--kfbvww 193 \r"mkhkjq"), 271, (omqjmj), gvdira--\r((--\r325), --mcrgew oqrhwp jhseux 55 xpayss 88 \rfctnjs (), (794), 3, #58 14 114 vdqoyq \r\'apxkvx\', (\tmhjblm())), #yxnynl \r"lllpue"/**/from#\rexample.example)'],
       [28821, b'D8j+oNbylTIGw='],
       [27825,
        b'ened \\">\\n  <head>\\n    <script data-react-helmet=\\"true\\" type=\\"text/javascript\\">(function(w...<some bytes>....getTime(),event:\'example.example\'});var f=d.getElementsByTag...<some bytes>...re(j,f);\\n    })(window,document,\'script\',\'dataLayer\',\'GTM...<some bytes>...ype=\\"text/javascript\\" src=\\"//example.example.co...<some bytes>..."async\\"></script>\\n    <meta charset=\\"utf-6\\">\\...<some bytes>...g\\" />\\n    <link rel=\\"stylesheet\\" href=\\"/static/css/main....<some bytes>...example.example\\" />\\n    <title data-react-helmet=\\"true...<some bytes>...    <script type=\\"text/javascript\\">\\n         ...<some bytes>...75-36T78:49:47.238Z\\",\\"location\\":{\\"hash\\":\\"\\...<some bytes>...></span></a><div class=\\"drop\\" data-reactid=\\"55...<some bytes>...\\"centered-title green2-style\\" data-reactid=\\"6...<some bytes>... data-reactid=\\"428\\"><!-- react-empty: 133 --><'],
       [74446, b'" union/*M!719 */'],
       [71873,
        b'194 union#93 yguxsk 669 393 \r\tselect\t\texlgjh(), cirwsi((\t616), (#\r\'qbtidf\'), (#\r\'xhqujm\'), ("xwfefv"), /*523 87 jvxefn rfkgml rpkpyn 42 eacbcl 627 */267, ("xfofsu"), (311), (\t\'ciadln\'), \'fhsunl\'), purljs(), isakxn( (959), --oorhfc \r42, #\rbchwnn#\r(), ktbbku(), (\'aflkgq\'), (hwdrpd())), (qxaslw(--16 574 rwgwov xcaoca 448 ntwgbk 653 \r--521 gwqebq 869 frtumq 1 482 jeetey wnonvn \r65, #\r752, #\rvyarfb(), lxodwk(), 971))'],
       [87153,
        b'/example.example?%7Cmeta%82http-equiv=Set-Cookie%59content=%11testizfx=5232%28%6E'],
       [76096, b'"  /*M!union*/'],
       [42354,
        b'/handler_sync_example.example?i=j4sR/mhZpekzcpKcC5cUoFHo5e42TQeA6YzVZuR3mhhuaivOgsA/oncCkpo=']],
      dtype=object)

In [0]:
train["text"] = train["text"].astype(str)
test["text"] = test["text"].astype(str)
vectorizer = TfidfVectorizer(ngram_range=(1,4), analyzer='char')
full_text = list(train["text"].values) + list(test["text"].values)
vectorizer.fit(full_text)
train_vectorized = vectorizer.transform(train['text'])
test_vectorized = vectorizer.transform(test["text"])
info = pd.merge(train, info, on="id")
y = np.array([1 if i == True else 0 for i in info.injection.values])
logreg = LogisticRegression(C=10.0)
scores = cross_val_score(logreg, train_vectorized, y, scoring='roc_auc', n_jobs=-1, cv=5)
predictions = cross_val_predict(logreg, train_vectorized, y, cv=5)
print("Cross-Validation mean auc {0:.6f}, std {1:.2f}.".format(np.mean(scores), np.std(scores)*100))

Cross-Validation mean auc 0.999396, std 0.01.

In [0]:
logreg.fit(train_vectorized, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=10.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
!pip install eli5
import eli5
#from eli5.sklearn import show_weights
eli5.show_weights(logreg, vec=vectorizer, targets=[0,1])

Requirement already satisfied: eli5 in /usr/local/lib/python3.6/dist-packages (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5) (1.12.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5) (2.10.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from eli5) (1.3.2)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (19.3.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.8.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.21.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (1.17.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->eli5) (0.14.0)

In [0]:
info.head(20)

        id                                               text  injection
0    59290  b"' and/**/38>( select\t(622)/**/from/*362 emh...       True
1    54992  b'shqpkt" union /*!426 all\t*/(select kwicwt(\...       True
2    64287  b'nhnqag" uniondistinct--154 298 plhlre exaloq...       True
3    28821                                  b'D8j+oNbylTIGw='      False
4    27825  b'ened \\">\\n  <head>\\n    <script data-reac...      False
5    74446                               b'" union/*M!719 */'       True
6    71873  b'194 union#93 yguxsk 669 393 \r\tselect\t\tex...       True
7    87153  b'/example.example?%7Cmeta%82http-equiv=Set-Co...       True
8    76096                                  b'"  /*M!union*/'       True
9    42354  b'/handler_sync_example.example?i=j4sR/mhZpekz...      False
10   41055  b'/search?string=EPSON EXPRESSION HOME XP-794&...      False
11   33516           b'kEC+oNOwUkgJOk4bn7Jm9wOWOT6V ... f9g='      False
12  101157  b'%24%3E%7Cscript%3Ealert(%12sap_its_urlmime_e...       True
13   74110  b'794  and bjwdqp((318), \t/*M!354 932, (625),...       True
14   44176  b'https://example.example.ru/krasota/massage/?...      False
15   16094  b'/handler_sync_example.example?i=Ypg//ONuVSKG...      False
16   83110  b'ru1527924556435" UNION SELECT CHAR(78,655,28...       True
17   76039                                   b"' union/*M!*/"       True
18   43379         b'm\xc2\xa4\x0c..dEv\xc3\x83\x0e\x085\x1d'      False
19   20021  b'If at least one response to *Race* (*America...      False

In [0]:
eli5.show_prediction(logreg, doc=train['text'].values[3], vec=vectorizer)

In [0]:
#how well does it do against test data
score = logreg.score(test_vectorized, )